.pr-70 {
  padding-right: 70px;
}

.table thead {
  background-color: #212121;
  color: #fff;
}
.table {
  table-layout: auto !important;
  width: auto !important;
}

/* Only show row-bottom border for the table */
.table,
.table th,
.table td {
  border: none !important;
}

.table tbody tr {
  border-bottom: 2px solid #dee2e6 !important;
  background-color: #fff !important;
}

.table thead tr {
  border-bottom: none !important;
}

.table th,
.table td {
  text-align: left;
  vertical-align: middle;
}
